.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #222;
  z-index: 1000;
}

.nav-icon {
  font-size: 20px;
  color: #aaa;
  text-decoration: none;
}

.nav-icon.active {
  color: #fff;
}

.upload-btn {
  font-size: 26px;
  background: #fff;
  color: #000 !important;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
